@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;1,8..144,200;1,8..144,300;1,8..144,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: beige;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

h1 {
    font-weight: 500;
    letter-spacing: 1px;
}

nav {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: orange;
    margin: 20px;
}

section {
    /* border: solid 1px red; */
    text-align: center;
}

div {
    border: solid 1px black;
    width: 300px;
    height: 360px;
    text-align: center;
    display: inline-block;
    margin: 30px;
    padding: 10px;
}

img {
    width: 250px;
}

figcaption {
    font-weight: bold;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(101, 155, 20);
}

footer {
    height: 100px;
    background-color: beige;
    text-align: center;
}

p {
    padding-top: 40px;
    color: rgb(169, 113, 8);
}